@keyframes breathe {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.9;
    }

    50% {
        transform: scale(1.1);
        opacity: 1;
    }
}

.animate-breathe {
    animation: breathe 1.8s ease-in-out infinite;
}